<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EventFlow | Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/jpg" href="logo.jpg">
</head>
<body>
  <nav>
    <a href="index.html">Home</a>
    <a href="#">About</a>
    <a href="{{ url_for('register') }}">Register</a>
    <a href="#">Contact</a>
  </nav>

  <section class="hero">
    <h1>Welcome to EventFlow</h1>
    <p>Manage and create your events easily — all in one place.</p>
  </section>

  <footer>
    © 2025 EventFlow. Designed with ❤️ by Lavanya.
  </footer>
</body>
</html>

<!-- https://www.google.com/url?sa=i&url=https%3A%2F%2Fstablediffusionweb.com%2Fimage%2F18063692-elegant-logo-design&psig=AOvVaw3MeZ_cDwKxCZnNqySP14kG&ust=1762943478005000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCJC5vL7y6ZADFQAAAAAdAAAAABAE -->